@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;500&family=Source+Sans+3&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*
2. Remove default margin
*/
* {
    margin: 0;
}

/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: 'Source Sans 3', Arial, sans-serif;
}

/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}

/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*
8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}


.main_header {
    /* background: #f2f7f5; */
    background-color: #f2f7f5;
    position: fixed;
    /* position: static; */
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s, padding 0.3s;
    padding: 1rem 2rem;
    font-weight: bold;
    color:#00473e;
}

@media (max-width: 500px) {
    .main_header {
        background-color: #00473e;
        /* color: #d8d8d8; */
    }
    
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 500px) {
    .header_content {
        /* flex-direction: column; */
        justify-content: flex-start;
        /* color: #d8d8d8; */
    }
    
}

.header_logo_container {
    display: flex;
    align-items: center;
}

.logo_hidden {
    display: none;
}

.header_logo_image_container {
    width: 65px;
    height: 65px;
    overflow: hidden;
    margin-right: 10px;
}

@media (max-width: 500px) {
    .header_logo_image_container {
        width: 50px;
        height: 50px;
    }
    
}

.header_logo_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header_logo_text {
    font-size: 1rem;
    margin-right: 0;
}

@media (max-width: 500px) {
    .header_logo_text {
        margin-left: auto;
        display: none;
    }
    
}

.header_links {
    display: flex;
}

.header_link {
    margin-right: 20px;
    color: #00473e;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

@media (max-width: 500px) {
    .header_link {
        font-size: .9rem;
        margin-right: 8px;
        color: #d8d8d8;
    }
    
}

.header_link:hover {
    text-decoration: underline;
}

.intro_section {
    background-color: #f2f7f5;
    padding-top: 8rem;
    padding-bottom: 10rem;
    text-align: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.intro_content {
    margin: auto;
    justify-content: space-between;
    padding-top: 25vh;
    align-items: center;
    position: relative;
}


@media (max-width: 500px) {
    .intro_section {
        margin-top: -100px;

    }
    
}

.intro_text {
    position: relative;
}

.intro_text h1 {
    font-size: 3.5rem;
    color: #00473e;
    margin-bottom: 1rem;
}

.intro_text p {
    font-size: 1rem;
    color: #00473e;
    margin-bottom: 2rem;
    line-height: 1rem;
    padding-left: 100px;
    padding-right: 100px;
}

.btn {
    background: #faae2b;
    color: #00473e;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    padding: .75rem 1rem;
    text-decoration: none;
    /* transition: background .3s; */
}

.btn:hover {
    background: #008573;
}

.project_btn {
    margin-top: 1rem;
    padding: .5rem .75rem;
    font-size: .9rem;
}


.social_bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    /* transform: translateY(-50%); */
    padding: 1rem .5rem;
    padding-right: 0;
    padding-top: 0;
    left: 0;
    top: 50%;
    background: #4f5656;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .social_bar {
        padding: .5rem .25rem;
        padding-right: 0;
        padding-top: 0;
    }
}

.social_icon {
    margin-top: .75rem; 
}

.social_icon_link {
    display: block;
    text-decoration: none;
}

.social_icon_logo {
    width: 30px; 
    height: auto; 
    transition: opacity 0.3s ease; 
}

.social_icon_logo:hover {
    opacity: 0.6; 
}

.about {
    background: #00473e;
    /* color: #fff */
    color: #d8d8d8;
}

.about_intro {
    padding-top: 30px;
    text-align: center;
}

.section_title {
    font-size: 2rem;
}

.white_section_title {
    color: white;
}

.section_title_line {
    width: 80px;
    margin: auto;
    border: none;
    height: 2px; 
    background-color: #d8d8d8;
}

.black_line {
    /* color: black; */
    background-color: #4f5656;
}

.section_intro_description {
    padding-top: 10px;
    font-size: .9rem;
    /* padding-left: 100px;
    padding-right: 100px; */
    width: 500px;
    margin: auto;
}

@media (max-width: 500px) {
    .section_intro_description {
        width: 350px;
    }
}

.about_grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));; */
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-top: 3rem;
    margin-left: 1rem;
    padding-bottom: 3rem;
}

@media (max-width: 500px) {
    .about .about_grid {
        grid-template-columns: 1fr;
    }
}

.about_grid_item {
    text-align: left;
    padding-bottom: 1.75rem;
}

.about_grid_heading {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: white;
    /* text-decoration: underline; */
}

.gallery_container {
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    margin: auto;
    justify-content: center;
    height: 100%;
}

.disabled_button {
    background-color: #4f5656;
}

.gallery_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery_image {
    width: 400px;
    height: auto;
}

@media (max-width: 500px) {
    .gallery_image {
        width: 250px;
    }
}

.gallery-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.gallery_prev {
    left: 10px;
}

.gallery_next {
    right: 10px;
}

.aboutme_paragraph {
    font-size: 1rem;
    color: #d8d8d8;
    padding-right: 1rem;
}

.aboutme_paragraph_two {
    padding-top: 1rem;
    padding-right: 1rem;
}

.about_grid_skills {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.about_grid_skills_item {
    padding: 0.25rem 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background: #ec5f7b;
    color: white;
    border-radius: 5px;
}

.about_grid_coursework_item {
    padding: 0.25rem 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background: #e7820f;
    /* background: #0045a0; */
    color: white;
    border-radius: 5px;
}
.about_experience_section {
    /* align-items: center; */
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 1rem;
}

.about_grid_experience {
    margin: auto;
    align-items: center;
    list-style: none;
    padding: 0;
    max-width: 1000px;
    margin-top: 2rem;
}

.about_grid_exp_item {
    font-size: 1rem;
    /* margin-left: 0; */
    color: white;
    /* color: #faae2b; */
    /* color: #fa5246; */
    text-align: left;
    /* padding-top: .5rem;
    padding-bottom: .5rem; */
    padding: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.exp_item_title {
    width: 350px;
    /* width: 45%; */
    display: flex;
    flex-direction: column;
}

.edu_item_title {
    width: 350px;
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    font-size: 1.15rem;
}

.education_logo {
    /* min-height: 100px; */
    max-height: 150px;
    max-width: 150px;
    /* min-width: 100px; */
    margin-right: 1.5rem;
}

@media (max-width: 500px) {
    .education_logo {
       max-width: 100px;
       max-height: 100px;
    }
}

.exp_item_descr {
    font-size: .9rem;
    margin-left: 1rem;
    color: #d8d8d8;
    margin-left: 1rem;
    /* width: 90%; */
}

.edu_list_row {
    align-items: flex-start;
    /* padding-top: 1rem; */
}



.exp_item_bullets {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
    width: 650px;
    /* list-style: none; */
}

.projects_intro {
    padding-top: 30px;
    text-align: center;
    color: black;
}

.projects_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    
    margin: auto;
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    max-width: 1300px;
}

@media (max-width: 500px) {
    .projects_grid {
        grid-template-columns: 1fr;
    }
}

.projects_grid_item {
    text-align: left;
    padding-bottom: 1.75rem;
}

.projects_grid_image {
    margin: auto;
    max-height: 300px;
    border-radius: 5px;
}

/* .projects_grid_descr {
    text-indent: 15px;
} */


.title_arrow {
    margin-top: 4rem;
}
.contact {
    background: #00473e;
    color: #d8d8d8;
    padding-bottom: 3rem;
}

.contact_intro {
    padding-top: 30px;
    text-align: center;
}

.contact_info {
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0;
}

a[href$="Resume.pdf"]{
    content: "\1F4C4"; /* Unicode for PDF icon (you can use any other icon or custom content) */
    margin-right: 0.5em; /* Adjust spacing between icon and link text */
    color: #faae2b;
}

a[href$="Resume.pdf"]::after{
    content: "\1F4C4"; /* Unicode for PDF icon (you can use any other icon or custom content) */
    margin-right: 0.5em; /* Adjust spacing between icon and link text */
}

.contact_form_title {
    margin: auto;
    text-align: center;
}

.contact_form {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

@media (max-width: 500px) {
    form {
        max-width: 300px;
    }
}


label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #faae2b;
    color: #00473e;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #008573;
}

.confirmation_message {
    display: none;
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color:black;
    /* background-color: #475d5b; */
    color:  #d8d8d8;
    padding: 1rem 0;
    text-align: center;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.footer_left, .footer_right {
    max-width: 45%;
    text-align: left;
}

.footer_right {
    padding-right: 3rem;
}

.footer_left {
    padding-left: 1.5rem;
}

.social_icons {
    display: flex;
}

.social_icon_link {
    margin-right: 10px;
}

.social_icon_logo {
    width: 30px;
    height: auto;
    transition: opacity 0.3s ease;
}

.social_icon_logo:hover {
    opacity: 0.6;
}

.footer_line {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #d8d8d8;
}

.small_print {
    font-size: 0.8rem;
    color: #d8d8d8;
}

.footer_left_par {
    font-size: 0.8rem;
    max-width: 400px;
}

h4 {
    font-size: 1rem;
}

